BasedOnStyle: WebKit
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
PointerBindsToType: false
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping: {
	AfterClass: 'true'
	AfterControlStatement: 'false'
	AfterEnum : 'true'
	AfterFunction : 'true'
	AfterNamespace : 'true'
	AfterStruct : 'true'
	AfterUnion : 'true'
	BeforeCatch : 'false'
	BeforeElse : 'true'
	IndentBraces : 'false'
}